@page
@model WebApp.Pages.RocketLeagueJokeModel
@{
}
<h1>Rocket League little information page!</h1>

<p>This is definitely NOT a scam, and is totally legit!.</p>

<form>
    <div class="mb-3">
        <label>Please enter in your SSN, or your parents!</label>
        <input class="form-control" />
    </div>

    <div class="mb-3">
        <label>Please enter in your credit card information, or also your parents!</label>
        <input class="form-control" />
    </div>

    <button type="button" class="btn btn-primary"
            onclick="alert('Thanks!')">
        Submit
    </button>
</form>