@page
@using WebApp.Pages
@model IndexModel
@{
    ViewData["Title"] = "AJST Home";
}

<div class="text-center">
    <h1 class="">Welcome to AJST Sporting Co</h1>
    <img src="@Url.Content("~/images/homeImage.png")"
         alt="NFL Teams"
         class="hero-image" />
    <p></p>
    <p>Your number one destination for all things football and basketball!</p>
</div>